$clr-text-blue: #007bff;
$clr-text-gray: #acacac;
$clr-text-darkgray: #333;
$clr-text-dark: #0e0e0e;

$clr-base-gray: #9a9da0;
$clr-base-darkgray: #343a40;
$clr-base-dark: #282b2e;
$clr-base-light: #fefefe;
$clr-base-blue: #0055af;
